
.card{text-align: center;}

.footer-box{
    position: absolute;
    width: 100%;
    padding: 4%;
}

.footer-text{
    position: relative;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: aliceblue;
}

.card-box{
    padding: 0 10%;
}
.card-content{
    margin: 3% 0;
}
.jumbotron{
    padding: 3%;
}

@media only screen and (max-width: 600px) {
    .footer-text{
        position: relative;
        top: 50%;
        left: 20%;
        transform: translate(-50%, -50%);
        color: aliceblue;
    }
  }